@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800&display=swap');

html {
  font-family: 'Nunito Sans', 'Libre Baskerville', 'Times New Roman', Times, serif;
  font-size: large;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(31,45,61,0)
}

body {
  margin: 0;
  font-family: "Nunito Sans",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #718096;
  text-align: left;
  background-color: #fff
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: .66667rem
}

p {
  margin-bottom: 1rem
}

dl,ol,ul {
  margin-top: 0;
  margin-bottom: 1rem
}

ol ol,ol ul,ul ol,ul ul {
  margin-bottom: 0
}

blockquote {
  margin: 0 0 1rem
}

b,strong {
  font-weight: 700
}

small {
  font-size: 80%
}

sub,sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

a {
  color: #008aff;
  text-decoration: none;
  background-color: transparent
}

a:hover {
  color: #0061b3;
  text-decoration: none
}

a:not([href]) {
  color: inherit;
  text-decoration: none
}

a:not([href]):hover {
  color: inherit;
  text-decoration: none
}

code,kbd,pre,samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto
}

th {
  text-align: inherit
}

label {
  display: inline-block;
  margin-bottom: .5rem
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6, .post-title, .catalogue-title {
    margin-bottom: .66667rem;
    font-family: inherit;
    color: #152c5b
}

.h1,h1, .post-title, .catalogue-title {
  font-size: 2.5rem
}

@media (max-width: 1200px) {
  .h1,h1 {
      font-size:calc(1.375rem + 1.5vw)
  }
}

.h2,h2 {
  font-size: 2rem
}

@media (max-width: 1200px) {
  .h2,h2 {
      font-size:calc(1.325rem + .9vw)
  }
}

.h3,h3 {
  font-size: 1.75rem
}

@media (max-width: 1200px) {
  .h3,h3 {
      font-size:calc(1.3rem + .6vw)
  }
}

.h4,h4 {
  font-size: 1.5rem
}

@media (max-width: 1200px) {
  .h4,h4 {
      font-size:calc(1.275rem + .3vw)
  }
}

.h5,h5 {
  font-size: 1.25rem
}

.h6,h6 {
  font-size: 1rem
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #e2e8f0
}

.small,small {
  font-size: 80%;
  font-weight: 400
}

.mark,mark {
  padding: .2em;
  background-color: #fcf8e3
}

code {
  font-size: 87.5%;
  color: #f074ad;
  word-wrap: break-word
}

a>code {
  color: inherit
}

kbd {
  padding: .2rem .4rem;
  font-size: 87.5%;
  color: #fff;
  background-color: #273444;
  border-radius: .2rem;
  box-shadow: inset 0 -.1rem 0 rgba(31,45,61,.25)
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 600;
  box-shadow: none
}

pre {
  display: block;
  font-size: 87.5%;
  color: #273444
}

pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 576px) {
  .container {
      max-width:540px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:720px
  }
}

@media (min-width: 992px) {
  .container {
      max-width:960px
  }
}

@media (min-width: 1200px) {
  .container {
      max-width:1140px
  }
}

img {
  transform: scale(1);
  transition: all .2s ease;
  transition-delay: .2s
  max-width: 6rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  border-style: none
  position: relative;
  z-index: 2
}

@media (prefers-reduced-motion:reduce) {
 img {
      transition: none
  }
}